body {
    display: flex;
    flex-direction: row;
}

main {
    height: 100%;
    width: 100%;
}

app-container.before {
    height: 500px;
    width: 500px;
    margin: 0px 20px;
    text-align: center;
}

app-container.after {
    height: 500px;
    width: 500px;
    margin: 0px 20px;
    text-align: center;
}

/* input sizer */
input-sizer {
    padding-bottom: 100px;
    display: flex;
}

input-sizer input {
    width: 50px;
    display: inline;
}

input-sizer span {
    font-size: 15px;
}

/* container wrap */
container-wrap {
    display: flex;
    width: 100%;
    height: 100%;
}

.before container-wrap {

    border: 1px solid blue;
}

.after container-wrap {

    border: 1px solid red;
}