body {
    display: flex;
    flex-direction: row;
}

main {
    height: 100%;
    width: 100%;
}

.app.before {
    height: 500px;
    width: 500px;
    margin: 0px 100px;
    background: blue;
    text-align: center;
}

.app.after {
    height: 500px;
    width: 500px;
    margin: 0px 100px;
    background: red;
    text-align: center;
}

/* input sizer */
.app.before input,
.app.after input {
    width: 50px;
    display: inline;
}

.app span {
    font-size: 15px;
}